div
  include @/@loadingio/bootstrap.ext/index.pug
  include @/ldview/index.pug
  include mixin.pug
  style(type="text/css"): include:stylus index.styl
  script(type="@plotdb/block")
    include:lsc fields/index.ls
    include:lsc index.ls
  div(plug="form")
    img.border-bottom.print-hide.embed-hide(path,path-src="img/2024 LB-1-2_0.jpg",
    width="1600",height="800",style="width:100%;height:auto",alt="brd visual")
    .sect.embed-hide
      h1 #[span(t="title.name")]
    .sect
      .my-2 申請前，請#[a(href="https://lightboxlib.org/volunteers", target="_blank") 詳閱 Lightbox 實習須知]。
      +widget("申請須知")
      .row
        .col-md: +widget("姓名")
        .col-md: +widget("生日")
      .row
        .col-md: +widget("電子信箱")
        .col-md: +widget("聯絡電話")
      +widget("性別")
      +widget("就讀")
    .sect
      +widget("時數限制")
      +visibility("需求時數"): +widget("需求時數")
      +widget("排班頻率")
      +widget("實習類型")
      +widget("專長")
      +widget("經驗")
    .sect
      +widget("為什麼想來")
      +widget("簡要分享")
      +widget("期待")
      +widget("簡歷")

    .sect.embed-hide.print-hide.bg-white
      .btn.btn-primary.btn-lg.px-4(t,ld="submit") 送件
      .my-2: .text-danger.text-sm * #[span(t) 請善用暫存功能，送件後無法再修改。]
    .print-hide: +nbr(4)
  //- div(plug="toc")
    .dropdown
      .btn.btn-sm.btn-block.btn-outline-secondary.dropdown-toggle(ld="dropdown", data-toggle="dropdown")
        span(t) 目錄
      .dropdown-menu.dropdown-menu-right.shadow-sm
        a.dropdown-item.clickable(href="#sect-1") 1. #[span(t) 資格確認]
        a.dropdown-item.clickable(href="#sect-2") 2. #[span(t) 基本資料]
        a.dropdown-item.clickable(href="#sect-3") 3. #[span(t) 創作自述]
        a.dropdown-item.clickable(href="#sect-4") 4. #[span(t) 作品上傳]
        a.dropdown-item.clickable(href="#sect-5") 5. #[span(t) 作者簡歷]
        a.dropdown-item.clickable(href="#sect-6") 6. #[span(t) 報名費繳交]
    hr
